@import 'resets';

.about-section {
	background: url('/src/images/about-bg.jpeg') center/cover, no-repeat;
	min-height: 600px;
	width: 100%;
	position: relative;
	// margin-bottom: 5em;

	&::before {
		content: '';
		position: absolute;
		background: #000;
		inset: 0;
		opacity: 0.7;
	}

	.container {
		@include widthMixin();
		display: flex;
		justify-content: center;
		min-height: 300px;
		padding-top: 10em;
		margin-bottom: 5em;

		.wrap {
			position: relative;
			z-index: 2;

			.about-heading {
				@include headingMixin();
				position: relative;
				z-index: 2;
				@include gradientText();

				margin-bottom: 0.4em;
			}

			.text {
				color: $color-light;
				max-width: 500px;
				text-align: center;
			}
		}
	}

	.card-container {
		position: relative;
		z-index: 2;
		padding-bottom: 4em;
		display: grid;
		gap: 16px;
		@include widthMixin();

		.card {
			color: $color-light;
			@include glassBg();
			padding: 2em;
			border-radius: 15px;

			.title {
				margin-bottom: 1.5em;
				color: $color-light;
				position: relative;
				width: fit-content;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			justify-content: center;

			.card {
				width: 350px;
				height: fit-content;

				&:nth-child(1) {
					.title {
						position: relative;

						&::after {
							content: '1';
							position: absolute;
							height: 20px;
							width: 20px;
							border-radius: 100%;
							@include gradientBg();
							display: flex;
							align-items: center;
							justify-content: center;
							top: 50%;
							transform: translateY(-50%);
							left: 105%;
							@include poppins-semibold();
						}
					}
				}

				&:nth-child(2) {
					.title {
						position: relative;

						&::after {
							content: '2';
							position: absolute;
							height: 20px;
							width: 20px;
							border-radius: 100%;
							@include gradientBg();
							display: flex;
							align-items: center;
							justify-content: center;
							top: 50%;
							transform: translateY(-50%);
							left: 105%;
							@include poppins-semibold();
						}
					}
				}

				&:nth-child(3) {
					.title {
						position: relative;

						&::after {
							content: '3';
							position: absolute;
							height: 20px;
							width: 20px;
							border-radius: 100%;
							@include gradientBg();
							display: flex;
							align-items: center;
							justify-content: center;
							top: 50%;
							transform: translateY(-50%);
							left: 105%;
							@include poppins-semibold();
						}
					}
				}
			}
		}
	}
}
