@import 'resets';

.contact-hero {
	padding-top: 10em;
	margin-bottom: 10em;
	overflow-x: hidden;

	.container {
		@include widthMixin();
		background: rgb(53, 53, 53);
		background: linear-gradient(
			315deg,
			rgba(53, 53, 53, 1) 15%,
			rgba(0, 0, 0, 0.5088235123150823) 45%,
			rgba(74, 74, 74, 1) 100%
		);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		padding: 2em 0;
		border-radius: 20px;
		position: relative;
		margin-bottom: 5em;

		.elipse-shape {
			position: absolute;
			top: 0;

			@media screen and (min-width: 62em) {
				width: 600px;
				top: -10%;
			}
		}

		.title {
			@include headingMixin();
		}

		.card-wrap {
			display: grid;
			gap: 2em;
			padding: 0 2em;

			.card {
				background: rgba(1, 2, 2, 0.548);
				backdrop-filter: blur(10px);
				-webkit-backdrop-filter: blur(10px);
				min-height: 250px;
				border-radius: 15px;
				padding: 2em;

				.icon {
					margin-bottom: 1.5em;
				}

				.heading {
					color: $color-light;
				}

				.info {
					color: $color-light;
					margin-bottom: 2.5em;
				}

				.url {
					text-decoration: underline;
					text-underline-offset: 5px;
					color: $primary-color;

					a {
						color: $color-light;
					}
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		padding-top: 15em;
		.container {
			width: 80%;

			padding: 5em 0;

			.card-wrap {
				display: flex;

				justify-content: center;

				.card {
					width: 300px;
				}
			}
		}
	}
}
