@import 'resets';

.contact-hero {
	padding-top: 10em;
	margin-bottom: 6em;
	overflow-x: hidden;
	position: relative;
	background: url('/dist/images/bus-interior.jpg') center/cover, no-repeat;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: $color-dark;
		opacity: 0.7;
	}

	.container {
		position: relative;
		z-index: 2;
		@include widthMixin();
		@include glassBg();
		padding: 2em 0;
		border-radius: 20px;
		position: relative;
		margin-bottom: 5em;

		.elipse-shape {
			position: absolute;
			top: 0;

			@media screen and (min-width: 62em) {
				width: 600px;
				top: -10%;
			}
		}

		.title {
			@include headingMixin();
		}

		.card-wrap {
			display: grid;
			gap: 2em;
			padding: 0 2em;

			.card {
				background: rgba(1, 2, 2, 0.548);
				backdrop-filter: blur(10px);
				-webkit-backdrop-filter: blur(10px);
				min-height: 250px;
				border-radius: 15px;
				padding: 2em;

				.icon {
					margin-bottom: 1.5em;
				}

				.heading {
					color: $color-light;
				}

				.info {
					color: $color-light;
					margin-bottom: 2.5em;
				}

				.url {
					text-decoration: underline;
					text-underline-offset: 5px;
					color: $primary-color;

					a {
						color: $color-light;
					}
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		// padding-top: 10em;
		.container {
			width: 80%;

			padding: 5em 0;

			.card-wrap {
				display: flex;

				justify-content: center;

				.card {
					width: 300px;
				}
			}
		}
	}
}
