@import 'resets';

.footer-section {
	padding: 2em 0;

	position: relative;

	&::before {
		content: '';
		position: absolute;
		height: 1.5px;
		width: 90%;
		@include gradientBg();
		left: 5%;
		top: -10%;
	}

	.container {
		@include widthMixin();
		border-radius: 20px;
		color: $color-light;

		.sitemap-wrap {
			display: grid;
			gap: 2em;
			margin-bottom: 3em;

			.logo-wrap {
				.brand-logo {
					width: 80px;
				}
			}

			.company,
			.legal-links {
				h4 {
					margin-bottom: 1.3em;
					@include gradientText();
				}

				.wrap {
					ul {
						display: grid;
						gap: 1.2em;
						li {
							.link {
								color: $text-color;
							}
						}
					}
				}
			}

			.contact-wrap {
				ul {
					li {
						.link {
							color: $text-color;
							margin-bottom: 1em;
							display: inline-block;
						}
					}
				}
			}

			@media screen and (min-width: 62em) {
				display: flex;
				justify-content: space-between;
			}
		}

		.wrap {
			display: grid;
			gap: 1em;

			.social-wrap {
				display: flex;
				gap: 2em;

				i {
					font-size: 1.6em;
					@include gradientText();
				}
			}

			.copyright {
				color: $text-color;
			}

			@media screen and (min-width: 62em) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
