@import 'resets';

.hero-section {
	min-height: 100vh;
	position: relative;
	background: $color-dark;
	opacity: 0.9;

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	inset: 0;

	// }

	.container {
		display: grid;
		gap: 5em;
		padding: 10em 0 5em 0;
		@include widthMixin();

		.hero-wrap {
			position: relative;
			z-index: 1;
			max-width: 700px;

			.masthead {
				@include gradientText();
				font-size: clamp(2vw, 40px, 7vw);
				@include poppins-semibold;
				margin-bottom: 0.8em;
			}

			.subtext {
				color: $color-light;
				margin-bottom: 2.5em;
			}

			.btn {
				@include btnMixin();
			}
		}

		.contact-container {
			position: relative;
			z-index: 1;
			@include gradientBg();
			border-radius: 10px;

			.card {
				padding: 3em;

				.heading {
					color: $color-light;
					text-align: center;
					margin-bottom: 1em;
				}

				.wrap {
					.number-wrap {
						font-size: 20px;
						@include poppins-semibold();
						color: $color-light;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 0.5em;

						.contact-num {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 0.5em;
							color: $color-light;

							span {
								height: 50px;
								width: 50px;
								border-radius: 100%;
								background: $color-light;
								display: flex;
								align-items: center;
								justify-content: center;

								.fi {
									@include gradientText();
									display: inline-block;
									transform: rotate(90deg);
									margin-left: -0.3em;
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0;
			height: 700px;
			padding-top: 4em;

			.hero-wrap {
				max-width: unset;
				text-align: left;

				.masthead {
					width: 600px;
					line-height: 1.3;
				}

				.subtext {
					max-width: unset;
					margin: unset;
					margin-bottom: 3em;
					max-width: 500px;
				}
			}

			.contact-container {
				position: absolute;
				right: 10%;
				top: 30%;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 400px;
				height: 200px;
				// @include glassBg();

				.card {
					padding: unset;
					text-align: left;
				}
			}
		}
	}
}
