@import 'resets';

.key-feature-section {
	margin-bottom: 5em;
	// background: red;

	.container {
		@include widthMixin();
		padding: 5em 0 0 0;

		.title-container {
			text-align: center;
			margin-bottom: 4.6em;
			display: flex;
			justify-content: center;

			.title {
				@include gradientText();
				width: fit-content;
			}
		}

		.wrap {
			display: grid;
			gap: 16px;

			.feature-card {
				@include gradientBg();
				border-radius: 5px;
				padding: 2em;
				color: $color-light;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					background: $color-dark;
					opacity: 0.7;
					inset: 0;
					border-radius: 5px;
				}

				.feature-title {
					margin-bottom: 1em;
					position: relative;
					z-index: 2;
					width: fit-content;
					color: $color-light;
					font-size: 20px;
				}

				.feature-text {
					line-height: $lineHeight;
					position: relative;
					z-index: 2;
					font-size: 15px;
				}

				// &:nth-child(1) {
				// 	background: url('/dist/images/amenities.jpeg') center/cover, no-repeat;
				// }

				// &:nth-child(2) {
				// 	background: url('/dist/images/chauffeur.jpeg') center/cover, no-repeat;
				// }

				// &:nth-child(3) {
				// 	background: url('/dist/images/itenerary.jpeg') center/cover, no-repeat;
				// }
			}

			@media screen and (min-width: 62em) {
				display: flex;

				.feature-card {
					width: 400px;
					height: fit-content;
				}
			}
		}

		@media screen and (min-width: 62em) {
			width: 80%;
		}
	}
}
