@import 'resets';

.map-section {
	margin-bottom: 5em;

	.container {
		@include widthMixin();
		padding: 2em 0;

		.wrap {
			display: grid;
			gap: 3em;

			.text-wrap {
				max-width: 470px;

				.heading-text {
					text-align: left;
					margin: unset;
					margin-bottom: 0.6em;
					@include gradientText();
				}

				.text {
					margin-bottom: 1.8em;
					color: $text-color;
				}

				.btn {
					@include btnMixin();
				}
			}

			.map-frame {
				.map {
					width: 100%;
					border-radius: 20px;
				}
			}

			@media screen and (min-width: 62em) {
				display: flex;

				.text-wrap {
					width: 40%;
					text-align: left;
				}

				.map-frame {
					width: 60%;
				}
			}
		}
	}
}
