@import 'resets';

.our-services-section {
	min-height: 500px;
	padding: 5em 0;
	margin-bottom: 5em;
	position: relative;
	background: url('/dist/images/bg.jpg') center/cover, no-repeat;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		top: 0;
		left: 0;
		background: $color-dark;
		opacity: 0.6;
	}

	.container {
		@include widthMixin();
		position: relative;
		z-index: 2;

		.wrap {
			text-align: center;
			margin-bottom: 3.5em;
			display: flex;
			justify-content: center;

			.title {
				font-size: 30px;
				position: relative;
				width: fit-content;
				@include gradientText();
			}
		}
	}

	.services-wrap {
		position: relative;
		z-index: 2;
		display: grid;
		grid-auto-flow: column;
		overflow-x: auto;
		gap: 1em;
		padding: 0 1em;
		position: relative;
		z-index: 2;

		.card {
			@include gradientBg();
			width: 300px;
			height: fit-content;
			padding: 2em;
			border-radius: 5px;
			overflow-y: scroll;

			.title-wrap {
				.title {
					margin-bottom: 1em;
					color: $color-light;
					width: fit-content;
					font-size: 20px;
				}
			}

			.text {
				color: $color-light;
				font-size: 0.9rem;
			}
		}

		@media screen and (min-width: 62em) {
			grid-auto-flow: unset;

			overflow-x: unset;
			width: 80%;
			margin: 0 auto;
			grid-template-columns: repeat(3, 1fr);
			padding-top: 2em;

			.card {
				width: 100%;

				&:nth-child(2) {
					margin-top: -2em;
				}

				&:nth-child(4) {
					margin-top: -2.8em;
				}

				&:nth-child(5) {
					margin-top: -12.5em;
				}
			}
		}
	}
}
