@import 'resets';

.statements-section {
	margin-bottom: 5em;
	padding: 5em 0;

	.container {
		@include widthMixin();
		display: grid;
		gap: 16px;

		.card {
			@include gradientBg();
			border-radius: 5px;
			padding: 2em;
			color: $color-light;
			position: relative;
			height: fit-content;

			&::after {
				content: '';
				position: absolute;
				background: $color-dark;
				opacity: 0.7;
				inset: 0;
				border-radius: 5px;
			}

			.wrap {
				position: relative;
				z-index: 2;
			}
		}

		@media screen and (min-width: 43em) {
			display: flex;
		}

		@media screen and (min-width: 62em) {
			display: flex;
			width: 70%;

			.card {
				&:first-child {
					margin-top: -2em;
				}
			}
		}
	}
}
