---
title: 'Contact us'
layout: 'base.njk'
---

<section class="contact-hero">
	<div class="container">
		<img
			src="/images/shapes/contact-elipse-shape.svg"
			alt=""
			class="elipse-shape" />
		<h3 class="title">Contact us</h3>

		<div class="card-wrap">
			<div class="card">
				<div class="icon">
					<img src="/images/icons/phone-icon.svg" alt="" />
				</div>

				<h4 class="heading">Call us</h4>
				<p class="info">Mon - Fri from 8am - 5pm</p>

				<div class="url">
					<a href="tel:+">(323) 538-4649</a>
				</div>
			</div>

			<div class="card">
				<div class="icon">
					<img src="/images/icons/location.svg" alt="" />
				</div>

				<h4 class="heading">Visit our office</h4>
				<p class="info">5404 N 99th street suite b Omaha NE 68134</p>

				<div class="url">
					<a
						href="https://www.google.com/maps/place/5404+N+99th+St+b,+Omaha,+NE+68134,+USA/@41.3081767,-96.0705309,17z/data=!3m1!4b1!4m5!3m4!1s0x8793ed3333511fe5:0x5f3c55576faf445b!8m2!3d41.3081767!4d-96.067956?entry=ttu"
						>View on Google maps</a
					>
				</div>
			</div>

			<div class="card">
				<div class="icon">
					<img src="/images/icons/user-icon.svg" alt="" />
				</div>

				<h4 class="heading">Contact sales</h4>
				<p class="info">We're here to help</p>

				<div class="url">
					<a href="tel:+">info@cosmoscoaches.com</a>
				</div>
			</div>
		</div>
	</div>

	<!-- contact form section -->
	<div class="form-wrap">
		<form action="#" class="form">
			<div class="grid-area">
				<div class="name-wrap">
					<input type="text" placeholder="Name" name="client-name" required />
				</div>

				<div class="email-wrap">
					<input
						type="text"
						placeholder="Email"
						name="email-address"
						required />
				</div>

				<div class="message-wrap">
					<textarea
						name="message"
						placeholder="John Doe's message"
						required></textarea>
				</div>
			</div>

			<button class="submit-btn" type="submit">Send message</button>
		</form>
	</div>
	<!-- end of contact form section -->
</section>
