---
layout: 'base.njk'
title: 'Home'
permalink: /
---

<main class="hero-section">
	<div class="container">
		<div class="hero-wrap">
			<h1 class="masthead hidden">
				Welcome to Cosmos Coaches, where we redefine the party experience with
				our luxurious party buses
			</h1>

			<p class="subtext hidden">
				Transportation for nights-out with friends, special events, tours, and
				celebrartions
			</p>

			<a href="/_pages/our-rates#rates" class="btn">Book a Ride with us</a>
		</div>

		<div class="contact-container hidden">
			<div class="card">
				<h3 class="heading">Call to Book a Ride</h3>

				<div class="wrap">
					<p class="number-wrap">
						<a class="contact-num" href="tel:+1-800-COSMOS">
							<span> <i class="fi fi-tr-phone-flip"></i> </span>1-800-COSMOS</a
						>
					</p>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- end of hero section -->

<section class="positioned-card-section">
	<div class="container">
		<div class="card hidden">
			<h3 class="heading">Meet our drivers</h3>
		</div>

		<div class="card hidden">
			<h3 class="heading">Our fleet</h3>
		</div>
	</div>
</section>

<!-- party bus history section -->
<section class="history-section">
	<div class="container">
		<div class="text-area">
			<h3 class="heading">History of Party Buses</h3>

			<p class="subtext">
				Embark on a journey through time and discover the fascinating evolution
				of party buses, from their humble beginnings in the 1960s and 70s to
				their widespread popularity today. Party buses, initially known as "rave
				on wheels," emerged as a novel way to transport groups of partygoers to
				various events while keeping the celebration alive on the move.
			</p>

			<a href="/_pages/about" class="btn">Learn More</a>
		</div>

		<div class="images-wrap">
			<div class="img-card-one img-card"></div>
			<div class="img-card-two img-card"></div>
		</div>
	</div>
</section>
<!-- end of party bus history section -->

<!-- key features -->
<section class="key-feature-section">
	<div class="container">
		<div class="title-container hidden">
			<h3 class="title">Our key features</h3>
		</div>

		<div class="wrap">
			<div class="feature-card hidden">
				<h3 class="feature-title">Luxurious Amenities</h3>

				<p class="feature-text">
					Experience unparalleled comfort and sophistication in our fleet of
					premium coaches. From plush seating to state-of-the-art entertainment
					systems, we ensure that every journey with Cosmos Coaches is an
					indulgent experience
				</p>
			</div>

			<div class="feature-card hidden">
				<h3 class="feature-title">Professional chauffeurs</h3>

				<p class="feature-text">
					Our team of expert chauffeurs is dedicated to providing you with a
					seamless and stress-free travel experience. With extensive training
					and years of experience, they prioritize your safety, comfort, and
					satisfaction at every turn of the road
				</p>
			</div>

			<div class="feature-card hidden">
				<h3 class="feature-title">Customizable Itineraries</h3>

				<p class="feature-text">
					At Cosmos Coaches, we understand that every journey is unique. That's
					why we offer fully customizable itineraries tailored to your
					preferences and requirements. Whether you're planning a corporate
					event, wedding transportation, or a leisurely sightseeing tour, we'll
					work with you to create the perfect itinerary that suits your needs
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end of key features section -->

<!-- party bus history section -->
<section class="why-section">
	<div class="container">
		<div class="text-area">
			<h3 class="heading">Why Choose Us?</h3>

			<p class="subtext">
				Everything we do, we do from a place of deep sense of responsibility to
				our customers and we list a few to inspire our customers towards the
				Cosmos Coaches Way.
			</p>

			<a href="/_pages/our-rates#rates" class="btn">Book a Ride with Us</a>
		</div>

		<div class="cards-wrap">
			<div class="card hidden">
				<p class="text">
					Your safety is our top priority. We adhere to the highest safety
					standards, ensuring that every journey with Cosmos Coaches is smooth,
					secure, and worry-free. Our fleet of state-of-the-art motorcoaches and
					party buses undergoes rigorous inspections and maintenance to
					guarantee optimal performance and reliability
				</p>
			</div>
			<div class="card hidden">
				<p class="text">
					Indulge in luxury like never before with Cosmos Coaches. Step aboard
					our meticulously designed vehicles and immerse yourself in a world of
					comfort, elegance, and sophistication. From plush seating to
					cutting-edge entertainment systems and ambient lighting, every detail
					is crafted to enhance your experience and elevate your journey to new
					heights
				</p>
			</div>

			<div class="card hidden">
				<p class="text">
					Your safety is our top priority. We adhere to the highest safety
					standards, ensuring that every journey with Cosmos Coaches is smooth,
					secure, and worry-free. Our fleet of state-of-the-art motorcoaches and
					party buses undergoes rigorous inspections and maintenance to
					guarantee optimal performance and reliability
				</p>
			</div>

			<div class="card hidden">
				<p class="text">
					Your safety is our top priority. We adhere to the highest safety
					standards, ensuring that every journey with Cosmos Coaches is smooth,
					secure, and worry-free. Our fleet of state-of-the-art motorcoaches and
					party buses undergoes rigorous inspections and maintenance to
					guarantee optimal performance and reliability
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end of party bus history section -->

<!-- our services section -->
<section class="our-services-section">
	<div class="container">
		<div class="wrap hidden">
			<h3 class="title">Our Services</h3>
		</div>
	</div>

	<div class="services-wrap">
		<div class="card hidden">
			<div class="title-wrap">
				<h4 class="title">Prom and Homecoming</h4>
			</div>

			<div class="p text">
				Your kids are important to you, and we don't want you worrying about
				them the whole time they are out on their special night. Ensure that
				they get around safely and in style by booking one of our coaches. Our
				drivers are all very experienced, have clean driving records, and are on
				a DOT random drug testing program. Our vehicles are fully insured,
				frequently inspected, and meet all of our high standards before we send
				them out. We will take wonderful care of your kids all night long. You
				will be the most popular parent around when you get a party bus for your
				kids and their friends!
			</div>
		</div>

		<div class="card hidden">
			<div class="title-wrap">
				<h4 class="title">Bachelor and Bachelorette Parties</h4>
			</div>

			<div class="text">
				Your wedding day is coming up, so celebrate being single while you can
				on one of our coaches! Have a great dinner, hit the bars downtown, or go
				anywhere else you want to go! Our drivers know all the hottest
				restaurants and clubs. Have the night of your life with your closest
				friends in a Cosmo Coach!
			</div>
		</div>

		<div class="card hidden">
			<div class="title-wrap">
				<h4 class="title">Weddings</h4>
			</div>

			<div class="text">
				The day you have been dreaming about has arrived, and we want to be a
				part of it! Let us provide you worry-free transportation to anywhere you
				want to go. Our punctual drivers know the area well, are equipped with a
				GPS, and they plan their routes ahead of time to avoid construction and
				traffic. They'll go to all of your destinations, including the ceremony
				location, around the city for pictures, the reception hall, the hotel to
				shuttle your guests, and anywhere else you need them to be! After you
				tie the knot, ride around for a bit to get the party started with your
				family and friends. There is no limit to the things you can do!
			</div>
		</div>

		<div class="card hidden">
			<div class="title-wrap">
				<h4 class="title">Nightlife</h4>
			</div>

			<div class="text">
				There doesn't have to be anything special going on in order to ride
				around in one of our vehicles. They are a convenient way to get a big
				group around town, no matter what day it is. We'll take you from bar to
				bar, and you won't have to worry about the logistics of getting several
				cars between places at the same time. We'll drop you off and pick you up
				right at the door, so you won't need to park or walk long distances.
				Coaches are an ideal way to make sure you and your guests get home
				safely, and you won't have to choose a designated driver. We will do it
				for you!
			</div>
		</div>

		<div class="card hidden">
			<div class="title-wrap">
				<h4 class="title">Concerts and Sporting Events</h4>
			</div>

			<div class="text">
				Party buses are perfect for getting large groups to sporting events and
				concerts. Head to Lincoln for a Cornhuskers game, or stay local to cheer
				on the Storm Chasers, Lancers, and Beef! If you aren't into sports,
				check out concerts by the hottest bands and artists. We will battle
				traffic while you get your party on in the back of the coach. If you
				arrive early, feel free to tailgate! We have stereos to listen to music,
				and indoor seating in case the weather gets rough. Book a vehicle today
				for a one-of-a-kind experience!
			</div>
		</div>
	</div>
</section>
<!-- end of our services section -->

<!-- map area -->
<section class="map-section">
	<div class="container">
		<div class="wrap hidden">
			<div class="text-wrap">
				<h3 class="heading-text">Our Service Area</h3>

				<p class="text">
					Omaha and surrounding area. A quote will need to be created to travel
					more than 20 miles outside of the metro
				</p>

				<a href="/_pages/our-rates#rates" class="btn check-avail-btn"
					>Book now</a
				>
			</div>

			<div class="map-frame hidden">
				<iframe
					class="map"
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d191858.36374106174!2d-96.2460595!3d41.2917414!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938dc8b50cfced%3A0x46424d4fae37b604!2sOmaha%2C%20NE%2C%20USA!5e0!3m2!1sen!2sng!4v1709586694710!5m2!1sen!2sng"
					height="450"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</section>
<!-- end of map area -->

<!-- faq section -->
<section class="faq-section" id="faq">
	<div class="container">
		<div class="faq-heading-wrap">
			<h3 class="heading">Frequently asked questions</h3>

			<div class="wrap">
				<button class="btn1">Common Questions</button>

				<button class="btn2">Booking Process</button>

				<a href="/_pages/our-rates#rates" class="booking-btn"
					>Book a ride with us</a
				>
			</div>
		</div>

		<div class="accordion-q-wrap">
			<div class="accordion-item">
				<div class="accordion-heading-area">
					<h4 class="q-heading">
						How do I book a party bus experience with Cosmos Coaches?
					</h4>

					<button class="expand-btn">
						<i class="fi fi-rr-angle-small-down"></i>
					</button>

					<button class="contract-btn">
						<i class="fi fi-rr-angle-small-up"></i>
					</button>
				</div>

				<div class="accordion-content">
					<p class="text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
						sapiente veritatis nulla et aliquam? Dolore possimus veritatis
						tenetur. Deleniti, quisquam.
					</p>
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-heading-area">
					<h4 class="q-heading">
						How do I book a party bus experience with Cosmos Coaches?
					</h4>

					<button class="expand-btn">
						<i class="fi fi-rr-angle-small-down"></i>
					</button>

					<button class="contract-btn">
						<i class="fi fi-rr-angle-small-up"></i>
					</button>
				</div>

				<div class="accordion-content">
					<p class="text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
						sapiente veritatis nulla et aliquam? Dolore possimus veritatis
						tenetur. Deleniti, quisquam.
					</p>
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-heading-area">
					<h4 class="q-heading">
						How do I book a party bus experience with Cosmos Coaches?
					</h4>

					<button class="expand-btn">
						<i class="fi fi-rr-angle-small-down"></i>
					</button>

					<button class="contract-btn">
						<i class="fi fi-rr-angle-small-up"></i>
					</button>
				</div>

				<div class="accordion-content">
					<p class="text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
						sapiente veritatis nulla et aliquam? Dolore possimus veritatis
						tenetur. Deleniti, quisquam.
					</p>
				</div>
			</div>
			<div class="accordion-item">
				<div class="accordion-heading-area">
					<h4 class="q-heading">
						How do I book a party bus experience with Cosmos Coaches?
					</h4>

					<button class="expand-btn">
						<i class="fi fi-rr-angle-small-down"></i>
					</button>

					<button class="contract-btn">
						<i class="fi fi-rr-angle-small-up"></i>
					</button>
				</div>

				<div class="accordion-content">
					<p class="text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
						sapiente veritatis nulla et aliquam? Dolore possimus veritatis
						tenetur. Deleniti, quisquam.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end of faq section -->
