---
layout: 'base.njk'
title: 'Home'
permalink: /
---

<main class="hero-section">
	<div class="first-hero-wrap">
		<div class="first-section-wrap">
			<h1 class="masthead">
				Safe and comfortable luxuious rides for you and your friends
			</h1>

			<div class="animation-icon-wrap">
				<i class="fa-solid fa-angle-down"></i>
			</div>
		</div>

		<div class="second-hero-wrap">
			<div class="subtext-wrap">
				<p class="sub-heading">
					Transportation for nights-out with friends, special events, tours, and
					clebrations
				</p>

				<button class="booknow-btn">Book now</button>
			</div>

			<div class="cards-wrap">
				<div class="card">
					<h4 class="heading">Our bus</h4>

					<button class="btn">See our bus</button>
				</div>

				<div class="card">
					<h4 class="heading">See our drivers</h4>

					<button class="btn">Learn more</button>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- our services section -->
<section class="our-services-section">
	<div class="container">
		<div class="wrap">
			<div class="heading">Our services</div>

			<div class="scroll-btn-wrap">
				<button class="btn-left" data-left="left-btn"></button>
				<button class="btn-right" data-right="right-btn"></button>
			</div>
		</div>
	</div>

	<div class="services-wrap">
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
	</div>
</section>
<!-- end of our services section -->

<!-- map area -->
<section class="map-section">
	<div class="container">
		<h3 class="heading">Our service area</h3>

		<div class="wrap">
			<div class="text-wrap">
				<p class="text">
					Omaha and surrounding area. A quote will need to be created to travel
					more than 20 miles outside of the metro
				</p>

				<button class="btn">Book now</button>
			</div>

			<div class="map-frame">
				<iframe
					class="map"
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d191858.36374106174!2d-96.2460595!3d41.2917414!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938dc8b50cfced%3A0x46424d4fae37b604!2sOmaha%2C%20NE%2C%20USA!5e0!3m2!1sen!2sng!4v1709586694710!5m2!1sen!2sng"
					height="450"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</section>
<!-- end of map area -->
