---
title: 'Our rates'
layout: base.njk
---

<section class="rate-card-section hidden">
	<div class="container">
		<img
			src="/images/shapes/contact-elipse-shape.svg"
			alt=""
			class="elipse-shape" />

		<h3 class="title">Pricing</h3>

		<h2 class="rate">$125 <span>/per hour</span></h2>

		<div class="card">
			<p class="text">Our rides are for a minimum of 4 hours</p>
		</div>

		<div class="btn-wrap">
			<button class="btn check-avail-btn" id="">Check availability</button>
		</div>
	</div>
</section>
