---
title: 'Our rates'
layout: base.njk
---

<section class="rate-card-section">
	<div class="container hidden">
		<h3 class="title">Pricing</h3>

		<h2 class="rate">$125 <span>/per hour</span></h2>

		<div class="card">
			<p class="text">Our rides are for a minimum of 4 hours</p>
		</div>

		<div class="btn-wrap">
			<a href="#rates" class="btn check-avail-btn" id="">Book a ride with us</a>
		</div>
	</div>
</section>

<!-- booking section -->
<section class="booking-section">
	<div class="container">
		<div class="card-wrapper">
			<!-- got questions card -->
			<div class="card card-one hidden">
				<h3 class="heading">Got questions?</h3>

				<p class="subtext">
					We've answered most of your pressing questions about how we render
					amazing services to you in the FAQ section.
				</p>

				<a class="link" href="/#faq">Go to FAQ</a>
			</div>

			<!-- contact card -->
			<div class="card card-two hidden">
				<h3 class="heading">Dial-A-Ride</h3>

				<p class="subtext">
					<a class="contact-num" href="tel:+1-800-COSMOS">
						<span> <i class="fi fi-tr-phone-flip"></i> </span>1-800-COSMOS</a
					>
				</p>
			</div>
		</div>

		<!-- booking form -->
		<form
			action="/.netlify/functions/createCheckoutSession"
			method="POST"
			class="booking-form"
			id="rates">
			<h3 class="heading">Want a ride? Start here!</h3>

			<div class="input-wrapper">
				<div class="name-wrap">
					<div class="first-name">
						<label for="first-name">First name</label>

						<input
							type="text"
							id="first-name"
							placeholder="First Name"
							class="name-input"
							name="firstname"
							required />
					</div>

					<div class="last-name">
						<label for="lastname">Last name</label>
						<input
							type="text"
							id="last-name"
							placeholder="Last Name"
							class="name-input"
							name="lastname"
							required />
					</div>
				</div>

				<div class="contact-wrap">
					<div class="phone-wrap">
						<label for="phone">Phone number</label>

						<input
							placeholder="Pnone number"
							type="tel"
							name="phone"
							id="phone"
							required />
					</div>

					<div class="email-wrap">
						<label for="email">Email Address</label>

						<input
							type="email"
							placeholder="Email Address"
							name="email"
							id="email"
							required />
					</div>
				</div>

				<div class="ride-container">
					<div class="ride-service-wrap">
						<div class="wrap">
							<label for="ride-service">Select Ride Service</label>

							<select name="rideintent" class="ride-intent" id="ride-service">
								<option value="prom">Prom & Homecoming</option>
								<option value="bachelor-party">
									Bachelor & Bachelorette Party
								</option>
								<option value="wedding">wedding</option>
								<option value="nightlife">Nightlife</option>
								<option value="concert">Concert</option>
								<option value="sporting-event">Sporting Event</option>
							</select>
						</div>

						<div class="wrap">
							<label for="quantity">Number of riders</label>

							<input
								type="number"
								class="quantity-input"
								name="numberofriders"
								id="quantity"
								placeholder="3"
								required />
						</div>
					</div>

					<div class="ride-duration-wrap">
						<label class="ride-duration-label" for="ride-duration"
							>Select ride duration</label
						>

						{% if prices.length %}
						<ul class="ride-duration-wrap">
							{% for price in prices %}
							<div class="duration-element">
								<label for="{{ price.product.name }}">{{
									price.product.name
								}}</label>

								<input
									type="radio"
									value="{{ price.id }}"
									name="rideDuration"
									class="product-price" />

								<div class="input-box"></div>
							</div>
							{% endfor %}
						</ul>
						{% endif %}
					</div>

					<div class="date-time-wrap">
						<div class="date-wrap">
							<label for="date">Ride start date</label>
							<input
								type="date"
								id="date"
								class="date-input"
								name="ridedate"
								placeholder=""
								required />
						</div>

						<div class="time-wrap">
							<label for="time">Ride start time</label>
							<input
								type="text"
								id="time"
								class="time-input"
								name="ridetime"
								placeholder="03:00PM"
								required />
						</div>
					</div>

					<input
						name="priceId"
						class="price-id"
						id="price"
						type="hidden"
						value="" />
				</div>
			</div>

			<div class="button-wrap">
				<button type="submit" class="btn">Submit</button>
			</div>
		</form>
		<!-- booking form -->
	</div>
</section>
<!-- end of booking section -->

<!-- {{ prices | log }} -->
{% for price in data.prices %} {% endfor %}
