---
title: 'Checkout'
layout: 'base.njk'
---

<section class="checkout-page">
	<div class="container">
		<h3 class="personalized-element">
			Hello, <span id="customer-name"></span>
		</h3>

		<h4 class="personalized-details">
			You have successfully booked a ride for the following service:
			<span class="service-selected"></span>; and your total ride fee is $<span
				class="total-amount"></span>
		</h4>
		<!-- Hello, you have successfully booked a ride. -->
		<form action="" class="payment-form" id="payment-form">
			<button type="submit" class="make-payment-btn btn">
				Proceed to Payment
			</button>
		</form>
	</div>
</section>
