---
layout: 'base.njk'
title: 'Booking succesful'
---

<section class="thank-you-section">
	<div class="container">
		<div class="heading-section">
			<h3 class="heading">
				Thank you for your order <img src="/images/confetti.png" alt="" />
			</h3>

			<p class="sub-text">
				A customer rep will contact you shortly to confirm your order
			</p>

			<div class="btn-wrap">
				<a class="btn" href="/">Back to Home</a>
			</div>
		</div>
	</div>
</section>
